.search-right .search-form .search-submit,
.fab-pagination span,
.main-navigation li:hover > a,
.main-navigation .current_page_item a, .main-navigation .current-menu-item a,
.main-navigation ul ul,
#secondary .widget #side-tab ul#myTab li.active a,
#secondary .widget #side-tab ul#myTab li a:hover,
#secondary .widget .tagcloud a,
#footer-widgets .widget .tagcloud a,
#comments #respond p.form-submit input
{
	background: !important;
}

.e-breadcrumbs a:link, .e-breadcrumbs a:visited{
	color:;
}
.top-bar span,
h3.section-title span,
#secondary .widget h3.widget-title span,
#footer-widgets .widget h3.footer-widget-title span,
#comments h2.comments-title span,
.page-title span
{
  -webkit-box-shadow: inset 0 -5px 0 0 ;
  box-shadow: inset 0 -5px 0 0 ;
}

.search-right .search-form .search-submit,
#secondary .widget #side-tab ul#myTab li.active a,
#secondary .widget #side-tab ul#myTab li a:hover,
#comments #respond p.form-submit input
{
	border-color:!important;
}

.main-navigation, #footer-widgets, .site-footer{
	background: ;
}



/* Links */

a, .hentry .entry-header .entry-meta span {
	color: #ea3554;
}

a:visited {
	color: #ea3554;
}

a:hover,
a:focus,
a:active {
	color:#1e73be;
	text-decoration: none;
}

