.navbar-dark {
	color:white;
	opacity: 1;
}
.navbar {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}
.container {
	display: flex;
	justify-content: center;
	color: #fff
}
.dropdown-item:hover {
	background-color:none;
}
.item
{
	margin-left:25px;
}
.item:nth-child(1) {
	margin-left: 0;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.parallax__image {
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
   }
   .parallax__image:nth-child(1) {
	background-image: url(img/london.jpg);
   }
   .parallax__image:nth-child(2) {
	background-image: url(img/berlin.jpg);
   }
   .header {
	position: fixed;
	/*z-index: 1;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	text-align: center;
   }
	#moo {
		transition: opacity 3s linear;
		opacity: 0;
	 }
	.ourfield {
		margin-top:20px;
	}
	